/* Container for product items */
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

/* Individual product item */
.item-home {
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px;
  width: calc(33.33% - 20px);
  box-sizing: border-box;
  transition: transform 0.2s ease-in-out;
}

.item:hover {
  transform: scale(1.02);
}

/* Product image */
.image img {
  max-width: 500px;
  height: 200px;
}

/* Product price */
h2 {
  font-size: 1.5rem;
  color: #007bff; /* Change the color to your preference */
  margin: 10px 0;
}

/* Product title */
.item-details h1 {
  font-size: 1.25rem;
  margin: 10px 0;
}

/* Product description */
.item-details p {
  font-size: 1rem;
  color: #666;
  margin: 5px 0;
}

/* Product category */
.item-details h3 {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
  margin: 5px 0;
}

/* Add to cart button */
.button-conatiner {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.add {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.add:hover {
  background-color: #0056b3;
}

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
  .item {
    width: calc(50% - 20px);
  }
}

/* Media query for screens smaller than 576px */
@media (max-width: 576px) {
  .item {
    width: 100%;
  }
}
